<form #loginForm="ngForm" (ngSubmit)="loginSubmit(loginForm)" class="text-center">

    <fieldset class="mb-3">
        <label for="username" class="block p-2 text-xl font-bold">Enter your name, Trainer!</label>
        <input type="text"
        ngModel
        #username="ngModel" 
        name="username" id="username"  
        class="border border-slate-300 p-2 rounded w-1/4 text-center" 
        placeholder="johndoe"/>
    </fieldset>
    <button type="submit" class="bg-yellow-400 hover:bg-yellow-600 p-2 rounded w-1/4">Login</button>
    <div class="grid grid-cols-9 gap-2 pl-12 py-5">
        <!-- Row 1 -->
        <img src="..\assets\sprites\231.png" alt="231">
        <img src="..\assets\sprites\177.png" alt="177">
        <img src="..\assets\sprites\235.png" alt="235">
        <img src="..\assets\sprites\33.png" alt="33">
        <img src="..\assets\sprites\25.png" alt="25">
        <img src="..\assets\sprites\133.png" alt="133"> 
        <img src="..\assets\sprites\143.png" alt="143">
        <img src="..\assets\sprites\421.png" alt="421">
        <img src="..\assets\sprites\424.png" alt="424">

        <!-- Row 2 -->
        <img src="..\assets\sprites\546.png" alt="546">
        <img src="..\assets\sprites\581.png" alt="581">
        <img src="..\assets\sprites\36.png" alt="36">
        <img src="..\assets\sprites\41.png" alt="41">
        <img src="..\assets\sprites\341.png" alt="341">
        <img src="..\assets\sprites\373.png" alt="373">
        <img src="..\assets\sprites\382.png" alt="382">
        <img src="..\assets\sprites\325.png" alt="325">
        <img src="..\assets\sprites\390.png" alt="390">

        <!-- Row 3 -->
        <img src="..\assets\sprites\104.png" alt="104">
        <img src="..\assets\sprites\127.png" alt="127">
        <img src="..\assets\sprites\147.png" alt="147">
        <img src="..\assets\sprites\587.png" alt="587">
        <img src="..\assets\sprites\415.png" alt="415">
        <img src="..\assets\sprites\430.png" alt="430">
        <img src="..\assets\sprites\598.png" alt="598">
        <img src="..\assets\sprites\456.png" alt="456">
        <img src="..\assets\sprites\632.png" alt="632">

        <!-- Row 4 -->
        <img src="..\assets\sprites\192.png" alt="192">
        <img src="..\assets\sprites\473.png" alt="473">
        <img src="..\assets\sprites\201-a.png" alt="201-a">
        <img src="..\assets\sprites\238.png" alt="238">
        <img src="..\assets\sprites\487.png" alt="487">
        <img src="..\assets\sprites\510.png" alt="510">
        <img src="..\assets\sprites\328.png" alt="328">
        <img src="..\assets\sprites\555.png" alt="555">
        <img src="..\assets\sprites\287.png" alt="287">

        <div></div>
        <div></div>
    </div>
</form>
